!html
%html
    %head
        %title example haml template
    %body
        %p example haml template
        - if 1
            %p rendered if true inside a django template tag

        .implicitdiv
            %a{href='/mixed/'} example of mixing .haml and other templates
